/*
html, body {
    font-size: 12px;
}
*/

img {
  max-width: 100%;
  object-fit: contain;

}

code {
    font-family: MonoLisa;
    background-color: #eee;
    border: 1px solid #888;
    border-radius: 2px;
    padding: 0 4px;
}

#search {
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: white;
  border-top: 1px solid grey;
  display: none;
}

#search.open {
  display: block;
}
