html, body {
    color: #000;
    background: #fff;
    font-family: MonoLisa;
    font-size: 12px;
}

img {
  max-width: 100%;

}

@media (prefers-color-scheme: dark) {
  html, body {
    color: #fff;
    background: #000;
  }

  a {
      color: cornflowerblue;

  }

}
